
body {
    background-color: #1d1f29;
    color: #a7b1c1 !important;
    overflow-x: hidden;
}

/* Removes arrows from input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Removes arrows from input */
input[type=number] {
  -moz-appearance: textfield;
}

.two-column-row {
    display: flex;
    justify-content: space-between;
}

.half-width {
    width: 49%;
}

.form-container {
    position: relative;
    display: flex;
    width: 80%;
    margin: 0 auto;
}


.calculate-form {
    position: relative;
    margin: 3rem auto;
    padding: 0 2rem;
    font-family: 'Roboto', sans-serif;
}

.calculate-form .input-num {
    padding-left: .5rem;
}

.input-container {
    margin-bottom: 2rem;
    height: 2rem;
    position: relative;
}

.projected {
    color: white;
}

.calculate-form .label-name {
    position: absolute;
    overflow: hidden;
    color: #808080;
    bottom: 0;
    left: 0;
    margin: 0;
    padding-left: .5rem;
    display: block;
    height: 200%;
    width: 100%;
    pointer-events: none;
}

.calculate-form .label-name::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 3px solid #00ace6;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

.content-name {
    position: absolute;
    display: flex;
    bottom: 0;
    height: 50%;
    line-height: 50%;
    transition: all 0.5s ease;
    align-items: center;
}

.calculate-form .input-num:focus + .label-name .content-name, 
.calculate-form .input-num:not(:placeholder-shown) + .label-name .content-name {
    transform: translateY(-90%);
    font-size: 14px;
    font-weight: 700;
    color: #00ace6;
}

.calculate-form .input-num:focus + .label-name::after, 
.calculate-form .input-num:not(:placeholder-shown) + .label-name::after {
    transform: translateY(0);
}

.calculate-form input, .calculate-form {
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 3px;
}

.calculate-form input[type=submit] {
    width: 8rem;
    margin: 1rem 0;
    padding: 0;
    float: right;
    height: 2rem;
    border: none;
    border-radius: 50px;
    color: white;
    background-color: #007399;
}

.calculate-form input[type=submit]:hover {
    background-color: #00ace6;
    transition: all 0.5s ease;
}

.toggle {
    position: absolute;
    display: inline-flex;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
}

.radio-toggle-input {
    display: none;
}

.radio-toggle-label {
    padding: 8px 14px;
    margin: 0;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: #828c96;
    cursor: pointer
}

.radio-toggle-label:first-of-type {
    border-right: 1px solid #555555;
}

.radio-toggle-input:checked + .radio-toggle-label {
    background-color: #555555;
}

.radio-toggle-input:hover + .radio-toggle-label {
    background-color: #666666;
}

.radio-toggle-input:disabled + .radio-toggle-label {
    background-color: #444444;
    color: gray;
}

.select-class {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    display: block;
    padding-left: .5rem;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #bbbbbb;
    cursor: pointer;
}

.select-class:disabled {
    color: rgba(0, 0, 0, 0);
}

.select-caret-icon {
    height: 100%;
    width: 100%;
}

.select-caret-icon:before {
    display: flex;
    content: '\f0d7';
    font-family: FontAwesome;
    color: #000;
    position: absolute;
    width: min-content;
    height: 100%;
    right: 1rem;
    top: 0;
    align-items: center;
    pointer-events: none;
}

.gear-widget-icon {
    background-color: #0b0b0f;
    position: absolute;
    display: flex;
    font-size: 20px;
    top: 100px;
    left: -55px;
    height: 35px;
    width: 55px;
    align-items: center;
    justify-content: center;
    border-radius: 15px 0 0 15px;
}

.gear-widget-icon::before {
    font-family: FontAwesome;
    content: '\f013';
    cursor: pointer;
}

.side-bar {
    background-color: #0b0b0f;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    transition: transform 0.5s ease-in;
    transform: translateX(100%);
}

.side-bar.active {
    transform: translateX(0%);
}

.sq-calc-options {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.sq-calc-options li {
    padding: 15px;
    height: 100px;
    border-bottom: 2px solid gray;
}

.calculate-form .select-class:focus + .label-name .content-name, 
.calculate-form .select-class:not(:disabled) + .label-name .content-name {
    transform: translateY(-90%);
    font-size: 14px;
    font-weight: 700;
    color: #00ace6;
}

.calculate-form .select-class:focus + .label-name::after, 
.calculate-form .select-class:not(:disabled) + .label-name::after {
    transform: translateY(0);
}

@media screen and (max-width: 768px) {
    .label-name .content-name {
        font-size: 10px;
    }

    .calculate-form .input-num:focus + .label-name .content-name, 
    .calculate-form .input-num:not(:placeholder-shown) + .label-name .content-name {
        font-size: 10px;
    }
}

.table-wrapper {
    width: 50%;
    margin: 2rem auto;
    font-family: 'Roboto', sans-serif;
}

.table-content {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    min-width: 200px;
    background-color: #34384b;
}

.table-content > tbody > tr > td > a:link,
.table-content > tbody > tr > td > a:visited {
    color: #a7b1c1;
    text-decoration: none;
}

.table-content > tbody > tr > td > a:hover {
    font-weight: bold;
    color: #0088a9;
}

.table-content > tbody > tr {
    border-bottom: 1px solid #aaaaaa;
}

.table-content > tbody > tr:last-of-type {
    border-bottom: 3px solid #0088a9;
}

.table-content > tbody > tr:nth-of-type(even) {
    background-color: #2a2d3c;
}

.table-content > thead > tr {
    text-align: center;
    background-color: #0088a9;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-size: 18px;
}

.table-border > tbody > tr > td,
.table-border > tbody > tr > th {
    border: 1px solid #aaaaaa;
}

.table-border > tbody > tr > td:first-of-type,
.table-border > tbody > tr > th:first-of-type {
    border-left: 0;
}

.trait-table > tbody > tr {
    text-align: center;
}

.table-content th,
.table-content td {
    padding: 12px 15px;
}

.profile-content-wrapper {
    margin: 2rem auto;
    width: 70%;
}

.profile-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.label {
    margin-top: 1rem;
}

.img-wrapper {
    width: min-content;
    margin-bottom: 2rem;
}

.tab-list {
    display: flex;
    width: 100%;
    height: min-content;
    background-color: #343c4a;
    justify-content: center;
    margin-bottom: 1rem;
}

.tab-list > button:not(:last-of-type) {
    margin-right: .1rem;
}

.tab-links {
    padding: 5px 8px;
    border: none;;
    border-radius: 5px;
    color: #007bff;
    background-color: black;
}

.tab-links.active {
    background-color: #007bff;
    color: #ffffff;
}